<connectivity>
  connectiontype {{ connectiontype }}
</connectivity>

<account information>
  username {{ username }}
  password {{ password  }}
</account information>

<system informatiom>
  distributiontype {{ ansible_os_family }}
</system information>

